<% include components/head %>

    <% include components/menu %>

    <div class="container">

        <div class="row">

            <div class="col-md-12 text-center thanksToLogin">
                <p><strong>Merci de vous <a href="/login">Connecter</a> pour accéder au panel d'administration du bot.</strong></p>
            </div>
        </div>
    </div>

<% include components/footer %>